.App {
  padding: 0;
  margin: 0;
  width: 99.7vw;
  height: 99.5vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 80% 5%;
  /* border: 2px solid; */
  border-color: #ff0000;
}
a {
  text-decoration: none;
}
.hContainer {
  grid-row: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.title {
  /* background: url("/images/header.jpg") white; */
  background: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 2vw;
  width: 100%;
  height: 11.5vh;
  font-family: "verdana";
  /* color: wheat; */
  color: orangered;
  /* text-shadow: 0 0 5px goldenrod, 0 0 30px #1310ce; */
  text-shadow: 0 0 5px rgb(48, 27, 95) 30px #1310ce;
  text-align: center;
}
.navbar {
  /* background: url("https://media.giphy.com/media/3o7aCQTyoPLEVwVtZK/giphy.gif")
    black; */
  background: goldenrod;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 99.9vw;
  height: 3.5vh;
  height: "max-content";
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.create_request,
.all_requests,
.handyman_Signup,
.Signup,
.Login {
  color: black;
  justify-content: left;
  align-items: left;
  font-weight: 800;
  font-size: 1vw;
  font-family: "Pinyon Script", cursive;
}
.link {
  border-color: black;
}

.all_requests:hover,
.Signup:hover,
.Login:hover {
  color: blue;
}

.searchButton,
.addCustomerButton,
.addTechnicianButton {
  background: url("/images/buttons.png") black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  border: 0.2vh solid;
  border-color: white;
  border-radius: 40px;
  color: white;
  font-weight: 500;
  font-size: 1vw;
  font-family: "Pinyon Script", cursive;
}

.signupButton,
.loginButton,
.editButton {
  background: url("/images/buttons.png") black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  border: 0.2vh solid;
  border-color: white;
  border-radius: 40px;
  color: white;
  font-weight: 500;
  font-size: 1.35vw;
  font-family: "Pinyon Script", cursive;
}

.addRequestButton {
  background: url("/images/buttons.png") black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-bottom: 15px;
  border: 0.2vh solid;
  border-color: white;
  border-radius: 40px;
  color: white;
  font-weight: 500;
  font-size: 1vw;
  font-family: "Pinyon Script", cursive;
}
.dropdown {
  border-radius: 2vh;
  border: 2px solid black;
  text-align: center;
  font-size: 0.9vw;
  font-weight: bold;
  font-family: "Pinyon Script", cursive;
  width: 15vw;
  /* text-align: center; */
  text-align: right;
}

.optionClass {
  text-align: center;
}

.mainContainer {
  grid-row: 2;
  display: grid;
  /* grid-template-columns: 20% 60% 20%; */
  /* grid-template-columns: 2% 96% 2%; */
  grid-template-columns: 2% 96% 2%;
  grid-template-rows: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  justify-items: center;
  align-items: center;
  /* overflow-y: auto; */
}
.requestContainer {
  background-repeat: no-repeat;
  justify-items: center;
  align-items: center;
  overflow-y: auto;
  width: 300;
  height: 300;
  border-color: #1310ce;
  /* background: url("/images/handyman1.jpg") lightblue; */
  background: lightblue;
  font: 1.1vw "Pinyon Script", cursive;
  font-family: "Vanessa Handscript";
  font-size: 1.45vw;
  color: black;
  /* text-shadow: 0 0 5px goldenrod, 0 0 30px #ff0000; */
}

.allCustomerContainer {
  background-repeat: no-repeat;
  justify-items: center;
  align-items: center;
  overflow-y: auto;
  width: 300;
  height: 300;
  border-color: #1310ce;
  background: url("/images/customer.jpg") lightblue;
  font: 1.1vw "Pinyon Script", cursive;
  font-family: "Vanessa Handscript";
  font-size: 1.45vw;
  color: whitesmoke;
  padding: 15px;
  /* text-shadow: 0 0 5px goldenrod, 0 0 30px #ff0000; */
}

.technicianContainer {
  background-repeat: no-repeat;
  justify-items: center;
  align-items: center;
  width: 500;
  height: 500;
  border-color: red;
  border-width: 10pt;
  background: lightblue;
  font: 1.1vw "Pinyon Script", cursive;
  font-family: "Vanessa Handscript";
  font-size: 1.45vw;
  color: black;
  /* text-shadow: 0 0 5px goldenrod, 0 0 30px #ff0000; */
}

.allTechnicianContainer {
  justify-items: center;
  align-items: center;
  /* overflow-y: auto; */
  /* overflow-y: visible; */
  overflow-y: scroll;
  /* width: 300;
  height: 300; */
  border-color: #1310ce;
  background: url("/images/handyman3.jpg");
  background-repeat: no-repeat;
  background-size: 12.4cm 9.5cm;
  background-position-x: 9cm;
  height: 100%;
  background-color: lightblue;

  font: 1.1vw "Pinyon Script", cursive;
  font-family: "Vanessa Handscript";
  font-size: 1.45vw;
  color: black;
  padding: 15px;

  /* height: 100%; */
  /* margin-top: 250px;  */
  /* transform: rotate(90deg);
  /* All browsers support */
  /* -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);  */
}

.createTechnicianContainer,
.createCustomerContainer,
.createRequestContainer {
  /* background: url("/images/mainbg.jpg") black; */
  background: teal;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 100%;
  border-radius: 3vw;

  justify-content: left;
  align-items: left;
  font-weight: 800;
  font-size: 1vw;
  color: black;
  font-family: "Pinyon Script", cursive;
}

.signupContainer {
  background: rgb(146, 197, 197);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 100%;
  border-radius: 3vw;
  width: 400px;
  height: 450px;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 1.3vw;
  color: black;
  font-family: "Pinyon Script", cursive;
}
.loginContainer {
  background: rgb(146, 197, 197);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 100%;
  border-radius: 3vw;
  width: 400px;
  height: 250px;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 1.3vw;
  color: black;
  font-family: "Pinyon Script", cursive;
}

.editCustomerContainer {
  background: rgb(146, 197, 197);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 100%;
  border-radius: 3vw;
  width: 400px;
  height: 480px;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 1.3vw;
  color: black;
  font-family: "Pinyon Script", cursive;
}
.editTechnicianContainer {
  background: rgb(146, 197, 197);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 100%;
  border-radius: 3vw;
  width: 400px;
  height: 500px;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 1.3vw;
  color: black;
  font-family: "Pinyon Script", cursive;
}

.editRequestContainer {
  background: url("/images/handyman4.jpg") lightblue;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-position-y: 1.1cm; */
  display: grid;
  grid-template-rows: 100%;
  border-radius: 3vw;
  width: 580px;
  height: 500px;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 1.3vw;
  color: black;
  font-family: "Pinyon Script", cursive;
}

.link {
  color: #fff;
}
.link:hover {
  color: red;
}
.techLink {
  color: red;
}
.techLink:hover {
  color: green;
}

.customerHeading {
  font-family: "Vanessa Handscript";
  text-shadow: 0 0 10px black, 0 0 100px white;
  font-size: 2vw;
  font-weight: 560;
  color: orangered;
  text-align: center;
  align-items: center;
  padding: 50px;
}

.technicianHeading,
.requestHeading {
  font-family: "Vanessa Handscript";
  text-shadow: 0 0 10px white, 0 0 100px red;
  font-size: 2vw;
  font-weight: 560;
  /* color: rgb(253, 86, 8); */
  color: navy;
  text-align: center;
  align-items: center;
  padding: 50px;
}

textarea {
  border: 0;
  padding: 10px;
  font-size: 1.3em;
  font-family: "Ubuntu Light", "Ubuntu", "Ubuntu Mono", "Segoe Print",
    "Segoe UI";
  color: purple;
  border: solid 1px #ccc;
  margin: 0 0 20px;
  width: 550px;
  -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid black;
  background: #ffffcc;
  resize: none;
}

textarea:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}
textarea[placeholder] {
  text-align: center;
}

.labelDescription {
  margin-top: 0px;
}

/* .techDiv {
  height: 400px; */
/* width: 250px; */

/* border-width: 10px;
  border: #ff0000;
  border-color: red;
  padding: 25px;
  margin: 25px;
} */

/* #b1 {
  grid-column: 1;
  background: url("https://media.giphy.com/media/6WdfqTu3GkQ6s/giphy.gif") black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 3vw;
} */

/* #b2 {
  grid-column: 3;
  background: url("https://media.giphy.com/media/iDfP8wxwqu248uPo17/giphy.gif")
    black;
  background-size: 115% 115%;
  background-repeat: no-repeat;
  border-radius: 3vw;
} */

h2 {
  font-family: "Vanessa Handscript";
  /* text-shadow: 0 0 10px black, 0 0 100px white; */
  font-size: 2vw;
  font-weight: 560;
  color: navy;
  text-align: center;
}
h4 {
  font-family: "Vanessa Handscript";
  /* text-shadow: 0 0 10px black, 0 0 100px white; */
  font-size: 1vw;
  font-style: italic;
  /* font-weight: 560; */
  color: navy;
  text-align: center;
}

.footer {
  font-family: "Game of Thrones";
  text-align: center;
  font-size: 0.8vw;
  background: url("/images/footer.jpg") black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-weight: 300;
  color: wheat;
  text-shadow: 0 0 5px rgb(0, 50, 177), 0 0 30px midnightblue;
}

.img {
  width: 78vw;
  height: 70vh;
  border-radius: 5vw;
  -webkit-box-shadow: 10px 13px 18px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.btns {
  background: url("/images/buttons.png") black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* padding: 0.7vw; */
  border: 0.2vh solid;
  border-color: white;
  border-radius: 40px;
  color: white;
  font-weight: 200;
  font: 1.3vw "Pinyon Script", cursive;
  margin: 0.5vw;
}
.btns:hover,
.searchButton:hover {
  opacity: 5;
  text-shadow: 0 0 5px goldenrod, 0 0 30px #ff0000;
  border-color: rgb(143, 93, 0);
  font-style: italic;
}

/* .quotesArea {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  justify-items: center;
} */
/* .sQuote {
  list-style-type: none;
  margin: 8px;
  width: 25vw;
  background: #eee;
  border: 1px solid #ccc;
  font: 1.1vw "Pinyon Script", cursive;
  color: black;
  text-shadow: 0 0 5px blue, 0 0 30px red;
  text-align: center;
  padding: 0.5vw;
  background: rgba(255, 255, 255, 0.7);
  border-top-right-radius: 5vw;
  border-top-left-radius: 5vw;
  border-bottom-right-radius: 5vw;
  -webkit-box-shadow: 10px 13px 18px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
} */
/* .chDetail {
  text-shadow: 0 0 5px goldenrod, 0 0 30px #ff0000;
  font-style: italic;
} */

.delete {
  width: 50px;
  height: 20px;
  border: none;
  background: url("/images/delete.jpg");
  color: orangered;
  /* color: transparent; */
  /* background-color: #000; */
}
.delete:hover {
  background-color: orangered;
}
.delete:active {
  background: olive;
}
.delete:focus {
  background: red;
}

/* // */
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/* 
image-fade transition */

.image-container {
  width: 78vw;
  height: 70vh;
  border-radius: 5vw;
  position: relative;
}
.image-container img {
  width: 100%;
  height: 100%;
}
.fade::after {
  align-content: center;
  /* content: "Handyman On Demand"; */
  content: "";
  justify-content: center;

  color: "white";
  display: "flex";
  /* background: lightskyblue; */
  /* background: lightblue; */
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 5vw;
}

.fade:hover:after {
  opacity: 0.4;
}
